@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
  --bg-color: rgb(59, 71, 88, .8);
  /* --bg-color: rgb(0, 0, 0, .8); */
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Rubik', sans-serif;
}

body {
  background-image: url('images/weather-icons.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 1s ease-in;
  background-color: #272b33;
  margin: 0;
}

/* to vertically center things, you need to make a wrapper as well as set the height and width of html, body, and the wrapper to 100%, extremeley convoluded, CSS ought to change this */
.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.search-container {
  display: flex;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
  background: var(--bg-color);
}

.search-box {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 24px;
  width: 400px;
}

.search-box::placeholder {
  color: rgb(255, 255, 255, .8);
}

.search-button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.button-icon {
  font-size: 28px;
  color: white;
}

.error-container {
  background: rgb(255, 0, 0, .8);
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 24px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.hide-error-container {
  display: none;
}

.error-container p {
  margin: 0;
}

.error-icon {
  font-size: 28px;
  color: white;
}

.info-container {
  background: var(--bg-color);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 30px;
  margin-top: 30px;
}

.info-container p {
  margin: 0;
}

.name-and-temp-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.location-name {
  font-size: 60px;
}

.separator {
  font-size: 40px;
  font-weight: lighter;
}

.temp-container {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  width: 200px;
  justify-content: center;
}

.current-temp {
  font-size: 40px;
}

.lowest-temp, .highest-temp {
  font-size: 24px;
}

.unit-switch-container {
  font-size: 24px;
}

.unit-switch-container:hover {
  cursor: pointer;
}

.temperature-container {
  padding: 8px;
  border: white 2px solid;
}

.selected-temp {
  background: white;
  color: var(--bg-color);
}

.description {
  align-self: flex-start;
  font-size: 24px;
}

@media screen and (max-width: 700px) {
  .name-and-temp-container {
    flex-wrap: wrap;
  }
}
