@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('images/weather-icons.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 1s ease-in;
  background-color: #272b33;
  margin: 0;
}

/* to vertically center things, you need to make a wrapper as well as set the height and width of html, body, and the wrapper to 100%, extremeley convoluded, CSS ought to change this */
.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  height: 100%;
  width: 100%;
}

.search-container {
  display: flex;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
  background: rgb(59, 71, 88, .8);
}

.search-box {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 24px;
}

.search-box::placeholder {
  color: rgb(255, 255, 255, .8);
}

.search-button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.button-icon {
  font-size: 28px;
  color: white;
}

.info-container {
  font-family: 'Rubik', sans-serif;
  background: rgb(59, 71, 88, .8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.info-container p {
  margin: 0;
}

.name-and-temp-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.location-name {
  font-size: 60px;
}

.separator {
  font-size: 40px;
}

.temp-container {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.current-temp {
  font-size: 40px;
}

.other-temps {
  font-size: 24px;
}

.description {
  align-self: flex-start;
  font-size: 24px;
}

@media screen and (max-width: 700px) {
  .name-and-temp-container {
    flex-wrap: wrap;
  }
}
